{% extends "AppZero/padre.html" %}

{% load static %}

{% block contenidoAdicional %}

{% if request.user.is_authenticated %}
        <header class="bg-primary bg-gradient text-white ">
        <div class="container px-4 text-center">     

            {% if request.user.userprofile.cargo == 'Docente' %}
                <h1 class="fw-bolder ">Sea bienvenido/a {{ user.get_username }}</h1>
                <p>Usted tiene permiso de Docente: puede modificar las notas de los alumnos</p>
                <a class="btn btn-lg btn-light" href="{% url 'VerGrados' %}">Modificar las notas de los alumnos</a>
            {% endif %}


            {% if request.user.userprofile.cargo == 'Preceptor' %}
                <h1 class="fw-bolder ">Sea bienvenido/a {{ user.get_username }}</h1>
                <p>Usted tiene permiso de Preceptor: puede agregar, modificar y borrar alumnos</p>
                <a class="btn btn-lg btn-light" href="{% url 'VerGrados' %}">Ver los cursos</a>
            {% endif %}


            {% if request.user.userprofile.cargo == 'Recursos Humanos' %}
                <h1 class="fw-bolder ">Sea bienvenido/a {{ user.get_username }}</h1>
                <p>Usted tiene permiso de Recursos Humanos: puede agregar, modificar y borrar docentes, personal de limpieza y autoridades</p>
                <a class="btn btn-lg btn-light" href="{% url 'DocentesList' %}">Ver el personal docente</a>
                <a class="btn btn-lg btn-light" href="{% url 'Inicio' %}">Ver autoridades</a>
                <a class="btn btn-lg btn-light" href="{% url 'PersLimpList' %}">Ver el personal de limpieza</a>
            {% endif %}


            {% if request.user.userprofile.cargo == 'Director' %}
            <h1 class="fw-bolder ">Sea bienvenido {{ user.get_username }}</h1>
            <p>Usted tiene todos los permisos</p>
            <a class="btn btn-lg btn-light" href="{% url 'VerGrados' %}">Ver los cursos</a>
            <a class="btn btn-lg btn-light" href="{% url 'DocentesList' %}">Ver el personal docente</a>
            <a class="btn btn-lg btn-light" href="{% url 'Inicio' %}">Ver autoridades</a>
            <a class="btn btn-lg btn-light" href="{% url 'PersLimpList' %}">Ver el personal de limpieza</a>
            {% endif %}
        </div>
        </header>
{% else %}
<header class="bg-primary bg-gradient text-white ">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder ">Sea bienvenido a la gestión de la Escuela Primaria N°8</h1>
        <p class="lead"> <br> Si usted es empleado por favor inicie sesión</p>
        <a class="btn btn-lg btn-light" href="{% url 'Login' %}">Iniciar Sesión</a>
        <p class="lead"> <br> Si quiere ver las notas de un alumno, ingrese en el sigiente botón:</p>
        <br>
        <a class="btn btn-lg btn-light" href="{% url 'BuscarAlumnoDNI' %}">Ver notas de un alumno</a>
    </div>
</header>
{% endif %}
{% endblock %}