{% extends "AppZero/padre.html" %}

{% load static %}

{% block contenidoAdicional %}
<h3>Podrás iniciar sesión si eres un empleado con una cuenta que la administración te habrá dado</h3>
<form action="" method="POST"> {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
</form>
    <h5>Sino, puedes registrarte haciendo click <a href="{% url 'Registro' %}">aquí.</a></h5>
    <a class="btn btn-secondary btn-sm" href="{% url 'Inicio' %}">Volver al inicio</a>

{% endblock %}
