{% extends "AppZero/padre.html" %}

{% load static %}

{% block contenidoAdicional %}
<h3>Puedes registrarte como empleado aquí</h3>
<h4>Selecciona cuál sería tu puesto: </h4>
<a class="btn btn-primary" href="{% url 'Registro' 1 %}">Docente</a>
<a class="btn btn-primary" href="{% url 'Registro' 2 %}">Preceptor</a>
<a class="btn btn-primary" href="{% url 'Registro' 3 %}">Recursos Humanos</a>


{% if tiporegistro %}
<form action="" method="POST"> {% csrf_token %}
    {{form.as_p}}
    <h4>Alguien de la administración te aprobará</h4>
    <button class="btn btn-primary" type="submit">Registrar</button>
</form>
{% endif %}
<br>
<br>
<a class="btn btn-secondary btn-sm" href="{% url 'Login' %}">Volver</a>
{% endblock %}