{% extends "AppZero/padre.html" %}

{% load static %}

{% block contenidoAdicional %}
<h3>Puedes registrarte como empleado aquí</h3>
<h4>Selecciona cuál es tu puesto: </h4>
<a class="btn btn-primary" href="{% url 'Registro' 1 %}">Docente</a>
<a class="btn btn-primary" href="{% url 'Registro' 2 %}">Preceptor</a>
<a class="btn btn-primary" href="{% url 'Registro' 3 %}">Recursos Humanos</a>


{% if tiporegistro %}
<h3>Registro para {{Cargo}}</h3>
<form action="" method="POST"> {% csrf_token %}

    <h6>Datos Personales</h6>
    <p>{{form1.nombre.label}}: {{form1.nombre}}</p>
    <p>{{form1.apellido.label}}: {{form1.apellido}}</p>
    <p>{{form1.DNI.label}}: {{form1.DNI}}</p>
    <p>{{form1.direccion.label}}: {{form1.direccion}}</p>
    <p>{{form1.telefono.label}}: {{form1.telefono}}</p>
    <p>{{form1.email.label}}: {{form1.email}}</p>

    
    {% if tiporegistro == 1 %}
    <p>{{form1.profesorado.label}}: {{form1.profesorado}}</p>
    {% endif %}

    <h6>Datos de Usuario</h6>
    <p>{{form1.username.label}}: {{form1.username}}</p>
    <p>{{form1.password1.label}}: {{form1.password1}}</p>
    <p>{{form1.password2.label}}: {{form1.password2}}</p>

    <h5>Una vez registrado, deberás esperar a que alguién de la administración te acepte.</h5>

    <button class="btn btn-primary" type="submit">Registrar</button>
</form>
{% endif %}
<br>
<br>
<a class="btn btn-secondary btn-sm" href="{% url 'Login' %}">Volver</a>
{% endblock %}