<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
        <h1>Hola {{user.username}}</h1>

        
        {% if cargo == 'Director' %}
            <h1>Tienes permiso para estar aquí</h1>
        {% else %}
            <h1>NO TIENES PERMISO PARA ESTAR AQUÍ</h1>
        {% endif %}
            
    {% endif %}
           
</body>
</html>