{% extends "AppZero/padre.html" %}

{% block contenidoAdicional %}
<a class='btn btn-lg btn-primary' href="{% url 'VerCurso' '1A' %}">1° Grado División A</a>
<a class='btn btn-lg btn-danger' href="{% url 'VerCurso' '1B' %}">1° Grado División B</a>
<br>
<br>
<a class='btn btn-lg btn-primary' href="{% url 'VerCurso' '2A' %}">2° Grado División A</a>
<a class='btn btn-lg btn-danger' href="{% url 'VerCurso' '2B' %}">2° Grado División B</a>
<br>
<br>
<a class='btn btn-lg btn-primary' href="{% url 'VerCurso' '3A' %}">3° Grado División A</a>
<a class='btn btn-lg btn-danger' href="{% url 'VerCurso' '3B' %}">3° Grado División B</a>
<br>
<br>
<a class='btn btn-lg btn-primary' href="{% url 'VerCurso' '4A' %}">4° Grado División A</a>
<a class='btn btn-lg btn-danger' href="{% url 'VerCurso' '4B' %}">4° Grado División B</a>
<br>
<br>
<a class='btn btn-lg btn-primary' href="{% url 'VerCurso' '5A' %}">5° Grado División A</a>
<a class='btn btn-lg btn-danger' href="{% url 'VerCurso' '5B' %}">5° Grado División B</a>
<br>
<br>
<a class='btn btn-lg btn-primary' href="{% url 'VerCurso' '6A' %}">6° Grado División A</a>
<a class='btn btn-lg btn-danger' href="{% url 'VerCurso' '6B' %}">6° Grado División B</a>

{% endblock %}