{% extends "AppZero/padre.html" %}

{% load static %}

{% block contenidoAdicional %}
<h4>Docentes de la Escuela</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Profesorado</th>
        <th scope="col">Acciones</th>   
      </tr>
    </thead>
    <tbody> 
    {% for docente in object_list %}                
      <tr>
        <th scope="row">{{docente.id}}</th>
        <td>{{docente.nombre}}</td>
        <td>{{docente.apellido}}</td>
        <td>{{docente.DNI}}</td>
        <td>{{docente.profesorado}}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'DocentesDetail' docente.id %}">Detalle</a>
            <a class="btn btn-info text-white" href="{% url 'DocentesUpdate' docente.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'DocentesDelete' docente.id %}">Borrar</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success" href="{% url 'DocentesCreate' %}">Añadir una nueva persona</a>
  <a class="btn btn-warning" href="{% url 'Inicio' %}">Volver</a>

{% endblock %}